name: Maven Verify Shopservice

on:
  push:
    branches:
      - main
  pull_request:
    branches: [ main ]
  repository_dispatch:
    types: [ojp-updated]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout shopservice code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout OJP repository
        uses: actions/checkout@v4
        with:
          repository: Open-JDBC-Proxy/ojp
          fetch-depth: 0
          ref: main
          path: ojp

      - name: Set up JDK 22
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '22'

      - name: Install (ojp modules)
        run: mvn clean install -DskipTests
        working-directory: ojp

      - name: Run (ojp-server)
        run: mvn verify -pl ojp-server -Prun-ojp-server > ojp-server.log 2>&1 &
        working-directory: ojp/ojp-server

      - name: Wait for ojp-server to start
        run: sleep 10

      - name: Build with Maven (shopservice)
        run: mvn clean verify
        working-directory: quarkus/shopservice